// base.scss


body {
	font-family: var(--default-font);
	@include body-text;

	background-color: var(--block-bg-color);
	color: var(--text-color);
	color-scheme: var(--tg-color-scheme);
	margin: 0;
	padding: 0;
	width: 1px;
	min-width: 100%;

	&.dark {
		--bg-color: #{$dark-bg-color};
		--text-color: #{$dark-text-color};
		--hint-color: #{$dark-hint-color};
		--placeholder-color: #{$dark-placeholder-color};
	}


}

* {
	-webkit-tap-highlight-color: transparent;
}


// .block {
// 	background-color: var(--block-bg-color);
// 	box-shadow: 0 0.5px rgba(0, 0, 0, .07);
// }
