.input {
	width: 100%;

	@include extra-text;

	padding: 6px 16px;
	min-height: 30px;
	box-sizing: border-box;
	background-color: var(--main-color-light);
	color: #fff;
	outline: none;
	border: none;
	transition: all 0.35s ease-in-out;

	transition: all var(--animation);

	&.input--radio {
		display: none;

		&+.input__label .input__icon {
			padding-right: 0.4em;
		}
	}

	&:checked+.input__label {
		background-color: var(--main-color-light);
		color: #fff;
	}
}

.input__label {
	display: block;
	transition: all var(--animation);
}




// .input:focus {
// 	outline: 0;
// 	border-color: #bd8200;
// }


// .input:checked+.input__label:after {
// 	opacity: 1;
// }

// .input--checkbox {
// 	display: none;
// }

// .input--checkbox+.input__label {
// 	position: relative;
// 	display: block;
// 	padding-left: 1.6em;
// }

// .input--checkbox+.input__label:before {
// 	position: absolute;
// 	top: 0.2em;
// 	left: 0;
// 	display: block;
// 	width: 1em;
// 	height: 1em;
// 	padding: 0;
// 	content: "";
// }

// .input--checkbox+.input__label:after {
// 	position: absolute;
// 	top: 0.45em;
// 	left: 0.2em;
// 	font-size: 0.8em;
// 	color: #fff;
// 	opacity: 0;
// 	font-family: FontAwesome;
// 	content: "\f00c";
// }


// .select {
// 	height: 3.4em;
// 	line-height: 2;
// }


// .select:focus,
// .select:active {
// 	outline: 0;
// }

// .select__option {
// 	background-color: #f0a500;
// 	color: #fff;
// }

// .input--text {
// 	@include heading-text;

// 	padding: 12px 20px 13px;
// 	box-sizing: border-box;
// 	display: block;
// 	outline: none;
// 	border: none;
// 	resize: none;
// 	color: var(--text-color);
// 	user-select: auto;
// 	cursor: auto;
// 	width: 100%;
// }
