#mode-manager {

	&.closed {
		filter: grayscale(1) opacity(0.7);
	}

	&.loading {
		filter: grayscale(1) opacity(0.7);

		.loading-icon {
			transition-delay: 0.4s;
			transform: scale(1);
			visibility: visible;
			opacity: 1;
		}
	}

	.mode {
		transition: filter var(--animation);
		transition: all var(--page-animation);

		opacity: 0;
		max-height: 0;
		height: auto;
		overflow: hidden;
	}

	.mode--active {
		opacity: 1;
	}
}
