.page {
	transition: filter var(--animation);
}

.page--items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 480px;
	justify-content: space-around;
	align-content: flex-end;
	transition: max-height var(--page-animation), opacity var(--page-animation);
	background-color: var(--block-bg-color);
}


.page--items:after {
	content: '';
	flex-grow: 2;
}


.page--order-overview {
	display: none;
	overflow: hidden;
	font-family: var(--default-font);
	background-color: var(--bg-color);
	transition: all var(--page-animation);
	opacity: 0;
}


.page--payment {
	display: none;
	font-family: var(--default-font);
	background-color: var(--bg-color);
	transition: opacity var(--page-animation);
	opacity: 0;
}


.page--buttons {
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin: 10px auto 0;
	position: relative;
	transition: all var(--animation);
}
