.page {
	font-family: var(--default-font);
	background-color: var(--bg-color);

	height: auto;
	overflow: hidden;
}

.page--items {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	margin: 0 auto;
	max-width: 480px;
	justify-content: space-around;
	align-content: flex-start;
	background-color: var(--block-bg-color);

	.page--items:after {
		content: '';
		flex-grow: 2;
	}
}

.page__header-wrap {
	padding: 21px 20px 14px;
	display: flex;
	align-items: center;
}

.page__header {
	font-size: 17px;
	line-height: 21px;
	text-transform: uppercase;
	flex-grow: 1;
	margin: 0;
}

.page__edit {
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;
	color: var(--accent-color);
}
